@model IEnumerable<_20161108LAP.Controllers.Person>

@{
    ViewBag.Title = "Index";
}

<!--body-->
<!--banner-->
<div class="banner">
    <div class="banner-title">
        <div class="container">
            <div class="banner-text">
                <h2>Online zu Ihrem Wunschkredit</h2>
                <p>Kreditbeträge bis zu 100.000 Euro  Kostenlose Sondertilgungen bis 100 %  Schnelle Kreditentscheidung</p>
                <a class="more scroll" href="#about">Berechnen</a>
            </div>
        </div>
    </div>
</div>
<!--//banner-->





<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geburtsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geschlecht)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nachname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geburtsdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geschlecht)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<!--//body-->